.gradle
.DS_Store
AndroidManifest.xml
/local.properties
/.idea/
/build/
/captures/
/IMKitWithVoIP/
/gradle/
/IMKitWithVoIP/build/intermediates/bundles/debug/res/drawable/
/IMKitWithVoIP/build/intermediates/bundles/debug/res/drawable-xhdpi/